body{
    margin: 0px;
    background-color: black;
}

#main-con{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#con-con{
    width:80%;
    /* height:300px; */
    /* border:2px solid white; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: black;
    padding:40px 20px;
    gap:20px;
    box-shadow: 0 0 20px 1px rgb(57, 57, 57);
    /* background-image: linear-gradient(to bottom right,rgb(72, 72, 72),black); */
}

#controls{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#motor-controls{
    width:100%;
    display:flex;
    justify-content: space-evenly;
}

.mc{
    display:flex;
    flex-direction:column;
    color:white;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    gap:20px
}

.pin{
    width:2px;
    height:100px;
    background-color:white;
}

.mover{
    width:30px;
    height:30px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top:100%;
    transform:translate(-50%,-50%);
    box-shadow: 0 0 2px 2px grey;
    /* transform:translate(-50%,-50%) */
}

/* #con-con::after{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    background: conic-gradient(from 0deg, #ff00c8, #00ffe7, #00ff0a, #ffe600, #ff00c8);

    border-radius: 10px;
    padding:2px;
    left:-2px;
    top:-2px;
    z-index: -1;
    filter: blur(10px);
} */

/* #con-con::before{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,1);
    border-radius: 15px;
    padding:2px;
    left:-2px;
    top:-2px;
    z-index: -1;
} */

#oneDcon{
    width:2px;
    height:200px;
    background-color: rgb(155, 155, 155);
    border-radius: 10px;
    display: flex;
    /* align-items: center; */
}

#ojoy{
    width:40px;
    height:40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    flex:0 0 auto;
    position: relative;
    top:100%;
    transform:translate(-50%,-50%);
    /* left: -20px;
    top:0px; */
    touch-action: none;
    /* left:-15px; */
}

#fourDcon{
    width:150px;
    height:150px;
    /* background-color: rgba(255,255,255,0.3); */
    border:2px solid rgb(155, 155, 155);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fjoy{
    width:40%;
    height:40%;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left:0px;
    top:0px;
    touch-action: none;
}