<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>controller</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> -->
     <link rel="stylesheet" href="../static/main.css">

     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>

    <div id="main-con">
        
        <div id="con-con">

            <div id="controls">
                <div id="oneDcon">
                    <div id="ojoy">

                    </div>
                </div>

                <div id="fourDcon">
                    <div id="fjoy">

                    </div>
                </div>
            </div>

            <div id="motor-controls">

                <div class="mc">

                    <h2>TOP 1</h2>

                    <div class="pin">

                        <div id="m1" class="mover">

                        </div>

                    </div>

                </div>

                <div class="mc">

                    <h2>BOTTOM 2</h2>

                    <div class="pin">

                        <div id="m2" class="mover">

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    
</body>
<!-- <script src="{{ url_for('static', filename='main.js') }}"></script> -->
<script src="../static/main.js"></script>
</html>